.form_container {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  margin-left: 37%;
  margin-top: 5%;
}

.form_container > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: rgb(27, 113, 225);
  margin-left: 8%;
}

.form_container > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form_container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  background-color: rgb(0, 85, 213);
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

span a {
  text-decoration: none;
  color: rgb(0, 85, 213);
}

